*#*
deps/*
apps/*
*~
*.beam
*.log*
*/tmp/
*.swp
config/self.yml
config/ipqams.yml
config/delivers.yml
*.pid.lock
*.tmp
*.dump
!config/server.yml.example
!config/agent.yml.example
*.o
*.pid
*.htm
*.log
rel
*.log
Gemfile.lock
