%% -*- mode: Erlang; -*-
{lib_dirs, ["apps", "deps"]}.

%% Subdirectories?
{sub_dirs, ["apps/rabbitmq-erlang-client"]}.

%{port_sources, ["c_src/*.c"]}.
%{so_specs, [{"priv/mmap.so", ["c_src/mmap.o"]}]}.

{erl_opts, [debug_info, {i, "apps"}, warnings_as_errors, warn_unused_vars]}.

{deps, [
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", "master"}},
	{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes", "master"}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{quoted, ".*", {git, "git://github.com/klaar/quoted.erl.git", "master"}}
]}.
